<h1>
  Add a new faction
</h1>


<hr>

<!-- Form faction start -->
<form action="/create_faction" method="post">
<!-- Form faction end -->

  <!-- Label and input for civ_id start -->
  <div class="form-group">
    <label for="civ_id">
      Civ
    </label>

    <!-- Input for civ_id start -->
    <%= select_tag(:civ_id, options_from_collection_for_select(Civ.all, :id, :name, @faction.civ_id), :class => "form-control") %>
    <!-- Input for civ_id end -->
  </div>
  <!-- Label and input for civ_id end -->

  <!-- Label and input for leader_id start -->
  <div class="form-group">
    <label for="leader_id">
      Leader
    </label>

    <!-- Input for leader_id start -->
    <input type="text" id="leader_id" name="leader_id" class="form-control">
    <!-- Input for leader_id end -->
  </div>
  <!-- Label and input for leader_id end -->

  <!-- Label and input for dom_score_land start -->
  <div class="form-group">
    <label for="dom_score_land">
      Dom score land
    </label>

    <!-- Input for dom_score_land start -->
    <input type="text" id="dom_score_land" name="dom_score_land" class="form-control">
    <!-- Input for dom_score_land end -->
  </div>
  <!-- Label and input for dom_score_land end -->

  <!-- Label and input for dom_score_water start -->
  <div class="form-group">
    <label for="dom_score_water">
      Dom score water
    </label>

    <!-- Input for dom_score_water start -->
    <input type="text" id="dom_score_water" name="dom_score_water" class="form-control">
    <!-- Input for dom_score_water end -->
  </div>
  <!-- Label and input for dom_score_water end -->

  <!-- Label and input for dom_def_land start -->
  <div class="form-group">
    <label for="dom_def_land">
      Dom def land
    </label>

    <!-- Input for dom_def_land start -->
    <input type="text" id="dom_def_land" name="dom_def_land" class="form-control">
    <!-- Input for dom_def_land end -->
  </div>
  <!-- Label and input for dom_def_land end -->

  <!-- Label and input for dom_def_water start -->
  <div class="form-group">
    <label for="dom_def_water">
      Dom def water
    </label>

    <!-- Input for dom_def_water start -->
    <input type="text" id="dom_def_water" name="dom_def_water" class="form-control">
    <!-- Input for dom_def_water end -->
  </div>
  <!-- Label and input for dom_def_water end -->

  <!-- Label and input for sci_score_land start -->
  <div class="form-group">
    <label for="sci_score_land">
      Sci score land
    </label>

    <!-- Input for sci_score_land start -->
    <input type="text" id="sci_score_land" name="sci_score_land" class="form-control">
    <!-- Input for sci_score_land end -->
  </div>
  <!-- Label and input for sci_score_land end -->

  <!-- Label and input for sci_score_water start -->
  <div class="form-group">
    <label for="sci_score_water">
      Sci score water
    </label>

    <!-- Input for sci_score_water start -->
    <input type="text" id="sci_score_water" name="sci_score_water" class="form-control">
    <!-- Input for sci_score_water end -->
  </div>
  <!-- Label and input for sci_score_water end -->

  <!-- Label and input for sci_def_land start -->
  <div class="form-group">
    <label for="sci_def_land">
      Sci def land
    </label>

    <!-- Input for sci_def_land start -->
    <input type="text" id="sci_def_land" name="sci_def_land" class="form-control">
    <!-- Input for sci_def_land end -->
  </div>
  <!-- Label and input for sci_def_land end -->

  <!-- Label and input for sci_def_water start -->
  <div class="form-group">
    <label for="sci_def_water">
      Sci def water
    </label>

    <!-- Input for sci_def_water start -->
    <input type="text" id="sci_def_water" name="sci_def_water" class="form-control">
    <!-- Input for sci_def_water end -->
  </div>
  <!-- Label and input for sci_def_water end -->

  <!-- Label and input for cul_score_land start -->
  <div class="form-group">
    <label for="cul_score_land">
      Cul score land
    </label>

    <!-- Input for cul_score_land start -->
    <input type="text" id="cul_score_land" name="cul_score_land" class="form-control">
    <!-- Input for cul_score_land end -->
  </div>
  <!-- Label and input for cul_score_land end -->

  <!-- Label and input for cul_score_water start -->
  <div class="form-group">
    <label for="cul_score_water">
      Cul score water
    </label>

    <!-- Input for cul_score_water start -->
    <input type="text" id="cul_score_water" name="cul_score_water" class="form-control">
    <!-- Input for cul_score_water end -->
  </div>
  <!-- Label and input for cul_score_water end -->

  <!-- Label and input for cul_def_land start -->
  <div class="form-group">
    <label for="cul_def_land">
      Cul def land
    </label>

    <!-- Input for cul_def_land start -->
    <input type="text" id="cul_def_land" name="cul_def_land" class="form-control">
    <!-- Input for cul_def_land end -->
  </div>
  <!-- Label and input for cul_def_land end -->

  <!-- Label and input for cul_def_water start -->
  <div class="form-group">
    <label for="cul_def_water">
      Cul def water
    </label>

    <!-- Input for cul_def_water start -->
    <input type="text" id="cul_def_water" name="cul_def_water" class="form-control">
    <!-- Input for cul_def_water end -->
  </div>
  <!-- Label and input for cul_def_water end -->

  <!-- Label and input for rel_score_land start -->
  <div class="form-group">
    <label for="rel_score_land">
      Rel score land
    </label>

    <!-- Input for rel_score_land start -->
    <input type="text" id="rel_score_land" name="rel_score_land" class="form-control">
    <!-- Input for rel_score_land end -->
  </div>
  <!-- Label and input for rel_score_land end -->

  <!-- Label and input for rel_score_water start -->
  <div class="form-group">
    <label for="rel_score_water">
      Rel score water
    </label>

    <!-- Input for rel_score_water start -->
    <input type="text" id="rel_score_water" name="rel_score_water" class="form-control">
    <!-- Input for rel_score_water end -->
  </div>
  <!-- Label and input for rel_score_water end -->

  <!-- Label and input for rel_def_land start -->
  <div class="form-group">
    <label for="rel_def_land">
      Rel def land
    </label>

    <!-- Input for rel_def_land start -->
    <input type="text" id="rel_def_land" name="rel_def_land" class="form-control">
    <!-- Input for rel_def_land end -->
  </div>
  <!-- Label and input for rel_def_land end -->

  <!-- Label and input for rel_def_water start -->
  <div class="form-group">
    <label for="rel_def_water">
      Rel def water
    </label>

    <!-- Input for rel_def_water start -->
    <input type="text" id="rel_def_water" name="rel_def_water" class="form-control">
    <!-- Input for rel_def_water end -->
  </div>
  <!-- Label and input for rel_def_water end -->

  <!-- Label and input for dip_score_land start -->
  <div class="form-group">
    <label for="dip_score_land">
      Dip score land
    </label>

    <!-- Input for dip_score_land start -->
    <input type="text" id="dip_score_land" name="dip_score_land" class="form-control">
    <!-- Input for dip_score_land end -->
  </div>
  <!-- Label and input for dip_score_land end -->

  <!-- Label and input for dip_score_water start -->
  <div class="form-group">
    <label for="dip_score_water">
      Dip score water
    </label>

    <!-- Input for dip_score_water start -->
    <input type="text" id="dip_score_water" name="dip_score_water" class="form-control">
    <!-- Input for dip_score_water end -->
  </div>
  <!-- Label and input for dip_score_water end -->

  <!-- Label and input for dip_def_land start -->
  <div class="form-group">
    <label for="dip_def_land">
      Dip def land
    </label>

    <!-- Input for dip_def_land start -->
    <input type="text" id="dip_def_land" name="dip_def_land" class="form-control">
    <!-- Input for dip_def_land end -->
  </div>
  <!-- Label and input for dip_def_land end -->

  <!-- Label and input for dip_def_water start -->
  <div class="form-group">
    <label for="dip_def_water">
      Dip def water
    </label>

    <!-- Input for dip_def_water start -->
    <input type="text" id="dip_def_water" name="dip_def_water" class="form-control">
    <!-- Input for dip_def_water end -->
  </div>
  <!-- Label and input for dip_def_water end -->

  <button class="btn btn-block btn-outline-secondary">
    Create faction
  </button>
</form>

<hr>

<a href="/factions">
  Go back
</a>
