<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Matches

    <a data-toggle="collapse" href="#map_matches_new_form">
      Add match
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @map.matches.each do |match| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/matches/<%= match.id %>">
          <%= match.map_id %>
        </a>

        <%if current_user == match.owner %>
          <a href="/delete_match_from_map/<%= match.id %>">
            Delete
          </a>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="map_matches_new_form">
        <%= render partial: "map_templates/map_matches_new_form" %>
      </div>
    </div>

  </ul>
</div>
