<% if @map.present? %>
  <% if @map.errors.any? %>
    <% @map.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new map
</h1>


<hr>

<form action="/create_map" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @map.name %>">
  </div>

  <div class="form-group">
    <label for="land_weight">
      Land weight
    </label>

    <input type="text" id="land_weight" name="land_weight" class="form-control" value="<%= @map.land_weight %>">
  </div>

  <div class="form-group">
    <label for="water_weight">
      Water weight
    </label>

    <input type="text" id="water_weight" name="water_weight" class="form-control" value="<%= @map.water_weight %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create map
  </button>
</form>

<hr>

<a href="/maps">
  Go back
</a>
