<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Factions

    <a data-toggle="collapse" href="#civ_factions_new_form">
      Add faction
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @civ.factions.each do |faction| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/factions/<%= faction.id %>">
          <%= faction.civ_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_faction_from_civ/<%= faction.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="civ_factions_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
